@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --background-image-img: url('/assets/background.jpg');
}

@layer base {
  .dark {
    --background-image-img: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/assets/background.jpg');
  }
}

@utility content-block-bg {
  @apply bg-stone-200 dark:bg-stone-800 text-stone-900 dark:text-stone-100 mx-4 md:mx-8 rounded-lg
}

@utility content-block-border {
  @apply border-2 border-violet-600 dark:border-orange-300 rounded-md
}

@utility text-title {
  @apply text-violet-600 dark:text-orange-300
}

@utility icon-btn {
  @apply p-2 bg-violet-300 dark:bg-orange-300 text-lg text-white dark:text-stone-900 rounded-md transition-colors duration-300
}

section {
  scroll-margin-top: 140px;
}