@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --background-image-img-1: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('./assets/bg-1.jpg');
  --background-image-img-2: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('./assets/bg-2.jpg')
}